/* Pour les tablettes (max-width: 1024px) */
@media screen and (max-width: 1024px){
    body{
        font-size: 1rem;
    }

    h1, h2, h3{
        font-size: 2rem;
    }

    section, #a_propos, #competences, #projets, #contact{
        width: 90%;
        padding: 40px 20px;
    }

    .competence, .projet{
        padding: 8px;
        margin: 8px;
    }

    .projet{
        flex: 1 1 calc(50% - 20px);  /* Deux projets par ligne */
    }
}

/* Pour les téléphones (max-width: 768px) */
@media screen and (max-width: 768px){
    body{
        font-size: 0.9rem;
    }

    h1, h2, h3{
        font-size: 1.8rem;
    }

    section, #a_propos, #competences, #projets, #contact{
        width: 100%;
        padding: 30px 10px;
    }

    .competence, .projet{
        padding: 6px;
        margin: 6px;
    }

    .projet{
        flex: 1 1 calc(100% - 20px);  /* Un seul projet par ligne */
    }

    header{
        height: auto;  /* Ajuster la hauteur pour les petits écrans */
    }

    nav{
        flex-direction: column;
        padding: 10px 0;
    }

    .lien_navigation{
        flex-direction: column;
        gap: 10px;
    }
}
