*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #A25353;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #C18686;
    scroll-behavior: smooth;
}

h1, h2, h3{
    font-family: 'Georgia', serif;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

h1, h2{
    color: white;
    padding-top: 40px;
}

h3{
    color: #A25353;
    padding-top: 40px;
}

section, #a_propos, #competences, #projets, #contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 80%;
}

section p, #a_propos p, #competences p, #projets p, #contact p{
    font-size: 1.2rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.85);
    max-width: 800px;
    margin: 10px auto;
    padding: 10px 20px;
}

header{
    background-color: #A25353;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

header h1{
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

nav{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #A25353;
    position: fixed;
    top: 0;
    width: 100%;
}

.lien_navigation{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.lien_navigation a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    padding: 100px 20px 20px;
}

.bloc{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bloc h2{
    font-size: 2rem;
}

.bloc a{
    color: #054d3d;
    text-decoration: underline;
}

.identite{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}

.identite p{
    font-size: 1.2rem;
    margin-top: 10px;
}

#competences .competences-bloc{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.competence, .projet{
    padding: 10px;
    background-color: #D5AEAE;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}

.competence img{
    width: 80px;
    height: auto;
    max-width: 100%;
    margin: 10px;
}

#projets .projet_bloc{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.projet{
    flex: 1 1 calc(45% - 20px);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
}

.projet img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.projet a.btn-projet{
    display: block;
    margin-top: auto;
    text-align: center;
}

.projet a{
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-top: 15px;
}

.projet p{
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.projet h3{
    margin: 5% 0;
}

#contact blockquote{
    font-size: 2rem;
    font-style: italic;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 30px;
    padding: 20px;
    border-left: 5px solid #A25353;
    text-align: center;
}

#contact p{
    margin: -10px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #A25353;
    padding: 20px 0;
    text-align: center;
    color: white;
}

footer p{
    font-size: 1rem;
}

